<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<nav>
    <%- include('./partials/nav.ejs')  %>
</nav>
<body>
    <div class="container">
        <h1>Edit the Water</h1>
        <div class="forms">
        <form action="/<%= water._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= water.name %>"><br />
            Image: <input type="text" name="img" value="<%= water.img %>"><br />
            Description: <textarea name="description" value="<%= water.description %>"></textarea><br />
            Type of Water: <input type="text" name="type" value="<%= water.type %>"><br />
            <input type="submit" value="Submit Changes">
        </form>
        </div>
    </div>
</body>
<footer>

</footer>
</html>