<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<nav>
    <%- include('./partials/nav.ejs')  %>
</nav>
<body>
    <h1 class="jumbotron">Water</h1>
    <div class="container">
        <% for( let i = 0; i < waters.length; i++ ) { %>
            <div class="water-container">
                <a href="/<%= waters[i]._id %>">
                <img src="<%= waters[i].img %>" height="200px" width="200px">
                </a>
                <a href="/<%= waters[i]._id %>">
                <p id="containerp"><%= waters[i].name %></p>
                </a>
            </div>
        <% } %>

    </div>
</body>
<footer>
    <h5>Created By: Zane Towell</h5>
</footer>
</html>